{% extends 'base.j2' %}

{% block content %}
    <div class="container text-center">
    <h1>Welcome to the Oregon State University Course Database</h1>
    <p>Please use the navigation bar to view each of the different databases available </p>
    </div>


{% endblock %}